<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>Feedback - Student: Feedback</title>
	 <link rel="icon" href="#" type="image/x-icon">
    <!-- For mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For Bootstrap -->
    <link rel="stylesheet" href="resources/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="resources/jquery/jquery-3.1.0.min.js"></script>
    <script src="resources/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- For Social Icons -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- For CSS File -->
	<link rel="stylesheet" href="/resources/feedbackstyle.css">
	<script>
	function warner(ele)
	{
    /*console.log('value changed for element name :' + ele.name + 'to value:'+ele.value);*/
		if(ele.value > ele.max || ele.value<1)
		{
			//ele.style.color = "red";
      document.getElementById("alert~"+ele.name).style.visibility = 'visible';
		}
    else{
      //ele.style.color = "black";
      document.getElementById("alert~"+ele.name).style.visibility = 'hidden';
    }
	}
	</script>
</head>
<body>
<!-- Top navbar starts -->
<nav class="navbar navbar-inverse">
	 <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><h3><b>{{.Collegename}}</b></h3></a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/logout" data-toggle="tooltip" data-placement="auto" title="Alert : Logging in once again with your Section ID and password is not possible. You will not be able to submit the feedback if you log out now."><span class="glyphicon glyphicon-log-out" id="logout"></span></a></li>
		</ul>
	</div>
</nav>
<!-- Top navbar ends -->
<center>
<!-- Information panel starts -->
	<div class="panel panel-default">
		<h1>Feedback Form</h1>
		<br>
		<hr>
		<div id="sec">
		<table class="table table-hover table-bordered">
			<tr>
				<td><b>Section ID</b></td>
				<td>{{.Sectionid}}</td>
			</tr>
			<tr>
				<td><b>Section Name</b></td>
				<td>{{.Sectionname}}</td>
			</tr>
			<tr>
				<td><b>Course Name</b></td>
				<td>{{.Coursename}}</td>
			</tr>
		</table>
		</div>
		<hr>
		<br>
		<!-- Feedback Form starts -->
			<!-- teachers info starts -->
			<form method="POST" action="/feedback" style="margin-left:5px; margin-right:20px;">
				<input type="hidden" name="sectionid" value="{{.Sectionid}}">
				<input type="hidden" name="formsid" value="{{.FormSid}}">
				<table class="table table-hover table-bordered">
					<tr>
						<td><b>Teacher ID</b></td>
            <td><b>Teacher Name</b></td>
            <td><b>Subject ID</b></td>
            <td><b>Subject Name</b></td>
            <td></td>
					</tr>
          {{range $myDetailedTeacher := .DetailedTeachers}}
  					<tr>
  						<td>{{.Facultyid}}</td>
              <td>{{.Facultyname}}</td>
              <td>{{.Subjectid}}</td>
              <td>{{.Subjectname}}</td>
              <td>
                <a href="#" data-toggle="modal" data-target="#FM{{.Facultyid}}-{{.Subjectid}}"><button type="submit" name="submit" value="Feedback">Give Feedback</button></a>
                <!-- feedback modal starts -->
          				<div id="FM{{.Facultyid}}-{{.Subjectid}}" class="modal fade">
          					<div class="modal-dialog">
          						<div class="modal-content" id="big">
          							<div class="modal-header" style="background-color:#4CAF50">
          								<button type="button" class="close" data-dismiss="modal">&times;</button>
          								<center><h2 class="modal-title" >Teacher-wise Feedback</h2></center>
          							</div>
          							<div class="modal-body">
                          <label><b>Teacher Name: {{.Facultyname}}</b></label>
                          <br>
                          <label><b>Subject Name: {{.Subjectname}}</b></label>
                          <hr>
                          <table class="table table-hover table-bordered">
                            <thead>
                              <tr>
                                <th><b>Question</b></th>
                                <th><b>Rating</b></th>
                              </tr>
                            </thead>
                            <tbody>
                              {{range $.Questions}}
                                <tr>
                                  <td>{{.Text}}</td>
                                  <td>
                                    <input type="number" min="1" max="{{.Weightage}}" id="rate" onchange="warner(this)" name="{{$myDetailedTeacher.Facultyid}}~{{$myDetailedTeacher.Subjectid}}~{{.Questionid}}"><span class="glyphicon glyphicon-alert red" id="alert~{{$myDetailedTeacher.Facultyid}}~{{$myDetailedTeacher.Subjectid}}~{{.Questionid}}"></span>
                                  </td>
                                </tr>
                              {{end}}
                            </tbody>
                          </table>
          							</div>
          							</div>
          						</div>
          					</div>
          			<!-- feedback modal ends -->
              </td>
  					</tr>
          {{end}}<!--End range over Teachers-->
    			<!-- teachers info ends -->
				</table>
        {{if not .Textquestions}}
        <b> No text questions found <br><br> </b>
        {{else}}
        <!-- Table for text questions start -->
        <table class="table table-hover table-bordered">
          <tr>
            <td>
              <b>Question</b>
            </td>
            <td>
              <b>Text Feedback</b>
            </td>
          </tr>
          {{range .Textquestions}}
          <tr>
            <td>
              {{.Text}}
            </td>
            <td>
              <input type="textarea" name="textresponse~{{.Questionid}}">
            </td>
          </tr>
          {{end}}
        </table>
        {{end}}
        <!-- Table for text questions end -->
        <input type="submit" value="Submit Feedback" name="submit">
			</form>
		<!-- Feedback Form ends -->
		<br>
	</div>
<!-- Information panel ends -->
</body>
</html>
