@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body
	{
		background-image:url("back1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
	h3
	{
		color:white;
		font-size:30px; 
		font-family:'Raleway','Palatino Linotype', 'Book Antiqua', Palatino, serif; 
		margin-top:-5px;
	}
	.panel
	{
		width:600px;
		margin-top:50px; 
		border-radius:5px;
	}
	.imgcontainer
	{
		height:200px; 
		width:150px; 
		border-radius:200px; 
		margin-top:30px;
		text-align:center;
	}
	label
	{
		margin-left:-370px; 
		font-size:18px;
	}
	input[type=text], input[type=password] 
	{
		width: 80%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		border-radius:3px;
		box-shadow:1px 1px #e6e6e6;
	}
	input[type=checkbox]
	{
		margin-left:-350px; 
		font-size:18px;
		box-shadow:1px 1px #e6e6e6;
	}
	button
	{
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 80%;
		border-radius:3px;
		box-shadow:1px 2px #e6e6e6;
	}
	button:hover
	{
		background-color: #3e8e41;
	}

	span.psw
	{
		float: right;
		padding-top: 16px;
	}